In [209]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import scipy.stats as stats

In [210]:
measurements = pd.read_csv("measurements.csv")

In [211]:
measurements.columns

Index(['ID', 'group', 'sex', 'birth_year', 'chol_init', 'chol_final',
       'trig_init', 'trig_final', 'weight_init', 'weight_final', 'weight_diff',
       'height_init', 'height_final', 'height_diff', 'armspan_init',
       'armspan_final', 'armspan_diff', 'arm_perimeter_init',
       'arm_periemter_final', 'arm_perimeter_diff', 'thorax_perimeter_init',
       'thorax_perimeter_final', 'thorax_perimeter_diff',
       'abdominal_perimeter_init', 'abdominal_perimeter_final',
       'abdominal_perimeter_diff', 'hip_perimeter_init', 'hip_perimeter_final',
       'hip_perimeter_diff', 'BMI_init', 'BMI_final', 'BMI_diff',
       'tricipital_fold_final', 'tricipital_fold_init', 'abdominal_fold_final',
       'abdominal_fold_init', 'subscapular_fold_final',
       'subscapular_fold_init'],
      dtype='object')

In [212]:
data_columns = measurements.columns[4:]

# Iterate over columns

In [213]:
for col in data_columns:       #iterate over column names
    print(data_columns.get_loc(col), end = ' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33

In [214]:
for col in measurements.columns:        #col is a string
    print(col[:3], end=' ')

ID gro sex bir cho cho tri tri wei wei wei hei hei hei arm arm arm arm arm arm tho tho tho abd abd abd hip hip hip BMI BMI BMI tri tri abd abd sub sub

In [215]:
for col in measurements.columns:          #col not an object, not callable by .col
    print(measurements[col][2], end=' ')

t3 Test f 2010.0 185.0 180.0 85.0 74.0 66.8 74.5 7.7 156 169.0 13.0 152.5 167 14.5 24 28 4 75 91 16 72.0 75 3.0 88 91 3 27.44904668 26.08452085 -1.36452583 11.0 20.0 26.0 20.0 22.0 20.0

In [216]:
for col in measurements.columns:
    print(str(measurements.loc[2, col])[0], end=' ')    #you can subscript a function!

t T f 2 1 1 8 7 6 7 7 1 1 1 1 1 1 2 2 4 7 9 1 7 7 3 8 9 3 2 2 - 1 2 2 2 2 2

# Iterate over row index

In [219]:
for i in measurements.index:        #iterate over index object
    print(i, end = ' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79

In [220]:
for i in measurements.index:
    print(measurements.ID[i], end=' ')

t1 t2 t3 t4 t5 t6 t7 t8 t9 t10 t11 t12 t13 t14 t15 t16 t17 t18 t19 t20 t21 t22 t23 t24 t25 t26 t27 t28 t29 t30 t31 t32 t33 t34 t35 t36 t37 t38 t39 t40 c1 c2 c3 c4 c5 c6 c7 c8 c9 c10 c11 c12 c13 c14 c15 c16 c17 c18 c19 c20 c21 c22 c23 c24 c25 c26 c27 c28 c29 c30 c31 c32 c33 c34 c35 c36 c37 c38 c39 c40

In [221]:
measurements.index   #index object

RangeIndex(start=0, stop=80, step=1)

In [222]:
measurements.sex.index    #also index object

RangeIndex(start=0, stop=80, step=1)

In [223]:
len(measurements)     #refers to index, not columns

80

# Find index of element of series based on value

In [226]:
data_columns.get_loc('trig_final')

3

In [227]:
measurements.columns.get_loc("trig_final")

7

In [228]:
measurements.index.get_loc(7)    #would be useful if rows have label indices

7

### measurements.get_loc("trig_final"), measurements.ID.get_loc('t15'), measurements.ID[5].get_loc('t')
- DataFrame/Series/str has no attribute get_loc, get_loc only works for .columns/.index objects

### Conditional formating does not help on .columns/.index objects

In [229]:
data_columns[data_columns=='BMI_init']

Index(['BMI_init'], dtype='object')

In [230]:
type(data_columns[data_columns=='BMI_init'])

pandas.core.indexes.base.Index

In [231]:
data_columns[data_columns=='BMI_init'].shape

(1,)

In [232]:
data_columns[data_columns=='BMI_init'][0]

'BMI_init'

### Conditional formatting is helpful when searching indices of elements

In [233]:
measurements.ID[measurements.sex=='m'].head(3)

1    t2
4    t5
5    t6
Name: ID, dtype: object

In [224]:
measurements.ID.index[2]   #not callable, may be useful if rows have levels

2

In [225]:
measurements.ID[3].index('t4')  #not subscriptable, always 0 - index of element?

0

In [234]:
measurements.ID[measurements.sex=='m'].index    #indices array

Index([ 1,  4,  5,  6,  8, 12, 14, 17, 18, 19, 22, 23, 24, 25, 26, 27, 30, 31,
       32, 33, 35, 36, 37, 38, 40, 41, 42, 43, 45, 46, 48, 49, 52, 53, 54, 56,
       59, 60, 62, 64, 66, 67, 68, 69, 70, 74, 75, 77, 78, 79],
      dtype='int64')

In [235]:
type(measurements.ID[measurements.sex=='m'].index)

pandas.core.indexes.base.Index

In [236]:
measurements.ID[measurements.ID=='t7']

6    t7
Name: ID, dtype: object

In [237]:
measurements.ID[measurements.ID=='t7'].shape   #series

(1,)

In [238]:
measurements.ID[measurements.ID=='t7'].index

Index([6], dtype='int64')

# Find index, column name

In [239]:
measurements.ID[measurements.ID=='t7'].index[0] #find index of specific element

6

In [243]:
measurements.ID[measurements.ID=='t7'].name #find column name of specific element

'ID'

In [199]:
#measurements.ID[7].name   str object has no attribute 'name'

In [247]:
measurements.BMI_init.idxmin()  #returns index of min value

63

In [242]:
measurements.BMI_init.idxmax()   #max

27

In [146]:
print(measurements.ID.get('t6'))  #???

None

In [326]:
a = pd.DataFrame(5, columns = list("ABCDEF"), index = list("abcdef"))
a

   A  B  C  D  E  F
a  5  5  5  5  5  5
b  5  5  5  5  5  5
c  5  5  5  5  5  5
d  5  5  5  5  5  5
e  5  5  5  5  5  5
f  5  5  5  5  5  5

In [327]:
a.A.index[2]            #not a.A[2].index, not a.A.index(2)

'c'

In [328]:
a.columns.get_loc('C')

2

In [329]:
a.index.get_loc('c')

2

In [330]:
a["G"]=6     #can also add multiple columns a["G", "H", "I"] = 6
a

   A  B  C  D  E  F  G
a  5  5  5  5  5  5  6
b  5  5  5  5  5  5  6
c  5  5  5  5  5  5  6
d  5  5  5  5  5  5  6
e  5  5  5  5  5  5  6
f  5  5  5  5  5  5  6

In [331]:
a["H"]=range(6)    #must match series length exactly
a

   A  B  C  D  E  F  G  H
a  5  5  5  5  5  5  6  0
b  5  5  5  5  5  5  6  1
c  5  5  5  5  5  5  6  2
d  5  5  5  5  5  5  6  3
e  5  5  5  5  5  5  6  4
f  5  5  5  5  5  5  6  5

In [332]:
a["I"]= (a.E + a.F)*a.H

In [333]:
a

   A  B  C  D  E  F  G  H   I
a  5  5  5  5  5  5  6  0   0
b  5  5  5  5  5  5  6  1  10
c  5  5  5  5  5  5  6  2  20
d  5  5  5  5  5  5  6  3  30
e  5  5  5  5  5  5  6  4  40
f  5  5  5  5  5  5  6  5  50

In [334]:
a["E"] = 1         #a.I stays the same
a

   A  B  C  D  E  F  G  H   I
a  5  5  5  5  1  5  6  0   0
b  5  5  5  5  1  5  6  1  10
c  5  5  5  5  1  5  6  2  20
d  5  5  5  5  1  5  6  3  30
e  5  5  5  5  1  5  6  4  40
f  5  5  5  5  1  5  6  5  50

In [335]:
a.insert(2, "B1", 7)        #does not create a copy
a
# (inset before col index, "new_col_name", value)

   A  B  B1  C  D  E  F  G  H   I
a  5  5   7  5  5  1  5  6  0   0
b  5  5   7  5  5  1  5  6  1  10
c  5  5   7  5  5  1  5  6  2  20
d  5  5   7  5  5  1  5  6  3  30
e  5  5   7  5  5  1  5  6  4  40
f  5  5   7  5  5  1  5  6  5  50

In [336]:
a.columns.get_loc("F")

6

In [337]:
a.insert(a.columns.get_loc("F"), "E1", 2)      #will add before index of F
a

   A  B  B1  C  D  E  E1  F  G  H   I
a  5  5   7  5  5  1   2  5  6  0   0
b  5  5   7  5  5  1   2  5  6  1  10
c  5  5   7  5  5  1   2  5  6  2  20
d  5  5   7  5  5  1   2  5  6  3  30
e  5  5   7  5  5  1   2  5  6  4  40
f  5  5   7  5  5  1   2  5  6  5  50

In [338]:
a.loc[:,"J"]= a.E1**a.H
a

   A  B  B1  C  D  E  E1  F  G  H   I   J
a  5  5   7  5  5  1   2  5  6  0   0   1
b  5  5   7  5  5  1   2  5  6  1  10   2
c  5  5   7  5  5  1   2  5  6  2  20   4
d  5  5   7  5  5  1   2  5  6  3  30   8
e  5  5   7  5  5  1   2  5  6  4  40  16
f  5  5   7  5  5  1   2  5  6  5  50  32

In [339]:
a = a.assign(K = a.E/a.H)

In [340]:
a

   A  B  B1  C  D  E  E1  F  G  H   I   J         K
a  5  5   7  5  5  1   2  5  6  0   0   1       inf
b  5  5   7  5  5  1   2  5  6  1  10   2  1.000000
c  5  5   7  5  5  1   2  5  6  2  20   4  0.500000
d  5  5   7  5  5  1   2  5  6  3  30   8  0.333333
e  5  5   7  5  5  1   2  5  6  4  40  16  0.250000
f  5  5   7  5  5  1   2  5  6  5  50  32  0.200000

In [341]:
type(a.K.a)     #inf is float!

numpy.float64

In [342]:
a=a.drop(columns=["B1", "E1"])        # or axis=0 for rows/axis=1 for columns
# also columns=[[3, 4, 6]]

In [343]:
a[a.columns.values + '1'] = 7
a

   A  B  C  D  E  F  G  H   I   J  ...  B1  C1  D1  E1  F1  G1  H1  I1  J1  K1
a  5  5  5  5  1  5  6  0   0   1  ...   7   7   7   7   7   7   7   7   7   7
b  5  5  5  5  1  5  6  1  10   2  ...   7   7   7   7   7   7   7   7   7   7
c  5  5  5  5  1  5  6  2  20   4  ...   7   7   7   7   7   7   7   7   7   7
d  5  5  5  5  1  5  6  3  30   8  ...   7   7   7   7   7   7   7   7   7   7
e  5  5  5  5  1  5  6  4  40  16  ...   7   7   7   7   7   7   7   7   7   7
f  5  5  5  5  1  5  6  5  50  32  ...   7   7   7   7   7   7   7   7   7   7

[6 rows x 22 columns]

In [344]:
a.columns

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'A1', 'B1', 'C1',
       'D1', 'E1', 'F1', 'G1', 'H1', 'I1', 'J1', 'K1'],
      dtype='object')

In [345]:
a.sort_index(axis=1, inplace=True)
a

,A,A1,B,B1,C,C1,D,D1,E,E1,...,G,G1,H,H1,I,I1,J,J1,K,K1
a,5,7,5,7,5,7,5,7,1,7,...,6,7,0,7,0,7,1,7,inf,7
b,5,7,5,7,5,7,5,7,1,7,...,6,7,1,7,10,7,2,7,1.000000,7
c,5,7,5,7,5,7,5,7,1,7,...,6,7,2,7,20,7,4,7,0.500000,7
d,5,7,5,7,5,7,5,7,1,7,...,6,7,3,7,30,7,8,7,0.333333,7
e,5,7,5,7,5,7,5,7,1,7,...,6,7,4,7,40,7,16,7,0.250000,7
f,5,7,5,7,5,7,5,7,1,7,...,6,7,5,7,50,7,32,7,0.200000,7