In [104]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import norm

In [105]:
chest = pd.read_csv("chestionar.csv")

In [106]:
'''
fig, ax = plt.subplots(nrows = 7, ncols = 1, figsize=(14,14))
data_columns = chest.columns[1:]

for col in data_columns:
    ax[data_columns.get_loc(col)].hist(chest[col], bins=8, density=True, color='red', alpha=0.9)
    mu, sigma = chest[col].mean(), chest[col].std()
    xmin, xmax = plt.xlim()
    x = np.linspace(xmin, xmax, 100)
    p = norm.pdf(x, mu, sigma)
    ax[data_columns.get_loc(col)].plot(x, p, 'k', linewidth=2)
    ax[data_columns.get_loc(col)].set_title(f'Histogram of {col}')
    ax[data_columns.get_loc(col)].set_xlabel('values')
    ax[data_columns.get_loc(col)].set_ylabel('Density')
plt.show()
'''
chest.head(1)

  Unnamed: 0  a_zile  b_minute  c_zile  d_minute  e_zile  f_zile  g_minute
0         c1       0       0.0       1      20.0     1.0    30.0     480.0

In [107]:
data_columns = chest.columns[1:]

In [108]:
chest.columns.values[0] = "name"

In [109]:
all_columns = chest.columns
all_columns

Index(['name', 'a_zile', 'b_minute', 'c_zile', 'd_minute', 'e_zile', 'f_zile',
       'g_minute'],
      dtype='object')

In [110]:
chest.rename(columns = {'name':'Name', 'a_zile':'azile'}, inplace = True)
#inplace = True or chest.rename = chest.rename(..)
#index= ... insetead of columns= ... for index renaming

In [111]:
chest.head(1)

  Name  azile  b_minute  c_zile  d_minute  e_zile  f_zile  g_minute
0   c1      0       0.0       1      20.0     1.0    30.0     480.0

In [112]:
chest.columns = all_columns
chest.head(1)

  name  a_zile  b_minute  c_zile  d_minute  e_zile  f_zile  g_minute
0   c1       0       0.0       1      20.0     1.0    30.0     480.0

In [113]:
#chest.rename(columns = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'], inplace=True) error: list object is not callable
#however, dictionaries are callable
#chest.head(1)

In [114]:
newdf = pd.DataFrame('#', columns = list('abcdefgh'), index = range(3))   #list object is callable here
newdf

   a  b  c  d  e  f  g  h
0  #  #  #  #  #  #  #  #
1  #  #  #  #  #  #  #  #
2  #  #  #  #  #  #  #  #

In [115]:
newdf.columns = [col + '_new' for col in newdf.columns]
newdf

  a_new b_new c_new d_new e_new f_new g_new h_new
0     #     #     #     #     #     #     #     #
1     #     #     #     #     #     #     #     #
2     #     #     #     #     #     #     #     #

In [116]:
newdf.columns = newdf.columns.str.upper()
newdf

  A_NEW B_NEW C_NEW D_NEW E_NEW F_NEW G_NEW H_NEW
0     #     #     #     #     #     #     #     #
1     #     #     #     #     #     #     #     #
2     #     #     #     #     #     #     #     #

In [117]:
newdf.columns = [col[0] for col in newdf.columns]
newdf

   A  B  C  D  E  F  G  H
0  #  #  #  #  #  #  #  #
1  #  #  #  #  #  #  #  #
2  #  #  #  #  #  #  #  #

In [118]:
newdf.columns = list('abcdefgh')
newdf

   a  b  c  d  e  f  g  h
0  #  #  #  #  #  #  #  #
1  #  #  #  #  #  #  #  #
2  #  #  #  #  #  #  #  #

In [119]:
newdf.columns = list('ABCDEFGHIJ')[:-2]

In [120]:
newdf

   A  B  C  D  E  F  G  H
0  #  #  #  #  #  #  #  #
1  #  #  #  #  #  #  #  #
2  #  #  #  #  #  #  #  #

In [121]:
newdf = newdf.add_prefix('xxxx')    #also add_suffix
newdf

  xxxxA xxxxB xxxxC xxxxD xxxxE xxxxF xxxxG xxxxH
0     #     #     #     #     #     #     #     #
1     #     #     #     #     #     #     #     #
2     #     #     #     #     #     #     #     #

In [122]:
newdf.columns=newdf.columns.str.replace('xxxx', 'XXXX')
newdf

  XXXXA XXXXB XXXXC XXXXD XXXXE XXXXF XXXXG XXXXH
0     #     #     #     #     #     #     #     #
1     #     #     #     #     #     #     #     #
2     #     #     #     #     #     #     #     #

In [123]:
newdf.rename(columns=lambda x: x[4:], inplace=True)
newdf

   A  B  C  D  E  F  G  H
0  #  #  #  #  #  #  #  #
1  #  #  #  #  #  #  #  #
2  #  #  #  #  #  #  #  #

In [124]:
newdf = newdf.add_prefix('xxxx')
newdf

  xxxxA xxxxB xxxxC xxxxD xxxxE xxxxF xxxxG xxxxH
0     #     #     #     #     #     #     #     #
1     #     #     #     #     #     #     #     #
2     #     #     #     #     #     #     #     #

In [125]:
newdf.rename(columns=lambda x: x.replace('xxx', 'e'), inplace=True)
newdf

  exA exB exC exD exE exF exG exH
0   #   #   #   #   #   #   #   #
1   #   #   #   #   #   #   #   #
2   #   #   #   #   #   #   #   #

In [130]:
print(newdf.iloc[:,1].name)

exB

In [131]:
print(newdf.index.name)

None

In [132]:
print(newdf.columns.name)

None