In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import scipy.stats as stats

In [4]:
owid_all = pd.read_csv('owid-co2-data.csv')

In [12]:
owid_book = pd.read_csv('owid-co2-codebook.csv')

In [5]:
owid_all.shape

(48058, 79)

In [83]:
np.shape(owid_all)

(48058, 79)

In [13]:
owid_book.shape

(79, 4)

In [6]:
owid_all.columns.values

array(['country', 'year', 'iso_code', 'population', 'gdp', 'cement_co2',
       'cement_co2_per_capita', 'co2', 'co2_growth_abs',
       'co2_growth_prct', 'co2_including_luc',
       'co2_including_luc_growth_abs', 'co2_including_luc_growth_prct',
       'co2_including_luc_per_capita', 'co2_including_luc_per_gdp',
       'co2_including_luc_per_unit_energy', 'co2_per_capita',
       'co2_per_gdp', 'co2_per_unit_energy', 'coal_co2',
       'coal_co2_per_capita', 'consumption_co2',
       'consumption_co2_per_capita', 'consumption_co2_per_gdp',
       'cumulative_cement_co2', 'cumulative_co2',
       'cumulative_co2_including_luc', 'cumulative_coal_co2',
       'cumulative_flaring_co2', 'cumulative_gas_co2',
       'cumulative_luc_co2', 'cumulative_oil_co2', 'cumulative_other_co2',
       'energy_per_capita', 'energy_per_gdp', 'flaring_co2',
       'flaring_co2_per_capita', 'gas_co2', 'gas_co2_per_capita',
       'ghg_excluding_lucf_per_capita', 'ghg_per_capita',
       'land_use_change_co2', 'land_use_change_co2_per_capita', 'methane',
       'methane_per_capita', 'nitrous_oxide', 'nitrous_oxide_per_capita',
       'oil_co2', 'oil_co2_per_capita', 'other_co2_per_capita',
       'other_industry_co2', 'primary_energy_consumption',
       'share_global_cement_co2', 'share_global_co2',
       'share_global_co2_including_luc', 'share_global_coal_co2',
       'share_global_cumulative_cement_co2',
       'share_global_cumulative_co2',
       'share_global_cumulative_co2_including_luc',
       'share_global_cumulative_coal_co2',
       'share_global_cumulative_flaring_co2',
       'share_global_cumulative_gas_co2',
       'share_global_cumulative_luc_co2',
       'share_global_cumulative_oil_co2',
       'share_global_cumulative_other_co2', 'share_global_flaring_co2',
       'share_global_gas_co2', 'share_global_luc_co2',
       'share_global_oil_co2', 'share_global_other_co2',
       'share_of_temperature_change_from_ghg',
       'temperature_change_from_ch4', 'temperature_change_from_co2',
       'temperature_change_from_ghg', 'temperature_change_from_n2o',
       'total_ghg', 'total_ghg_excluding_lucf', 'trade_co2',
       'trade_co2_share'], dtype=object)

In [27]:
type(owid_all.country.value_counts())

pandas.core.series.Series

In [26]:
type(owid_all.country.value_counts)   #interesting

method

In [14]:
owid_all.country.value_counts().values   #entries per country

array([273, 273, 273, 273, 273, 273, 273, 273, 273, 273, 273, 273, 273,
       273, 273, 273, 273, 273, 273, 273, 273, 273, 273, 273, 273, 273,
       273, 273, 273, 238, 231, 231, 223, 223, 215, 205, 194, 193, 191,
       191, 185, 180, 177, 177, 177, 177, 177, 177, 177, 177, 177, 177,
       177, 177, 177, 177, 177, 173, 173, 173, 173, 173, 173, 173, 173,
       173, 173, 173, 173, 173, 173, 173, 173, 173, 173, 173, 173, 173,
       173, 173, 173, 173, 173, 173, 173, 173, 173, 173, 173, 173, 173,
       173, 173, 173, 173, 173, 173, 173, 173, 173, 173, 173, 173, 173,
       173, 173, 173, 173, 173, 173, 173, 173, 173, 173, 173, 173, 173,
       173, 173, 173, 173, 173, 173, 173, 173, 173, 173, 173, 173, 173,
       173, 173, 173, 173, 173, 173, 173, 173, 173, 173, 173, 173, 173,
       173, 173, 173, 173, 173, 173, 173, 173, 173, 173, 173, 173, 173,
       173, 173, 173, 173, 173, 173, 173, 173, 173, 173, 173, 173, 173,
       173, 173, 173, 173, 173, 173, 173, 173, 173, 173, 173, 173, 173,
       173, 173, 173, 173, 173, 173, 173, 173, 173, 173, 173, 173, 173,
       173, 173, 173, 173, 173, 173, 173, 173, 173, 173, 173, 173, 173,
       173, 173, 173, 173, 173, 173, 173, 173, 173, 173, 173, 173, 173,
       173, 173, 173, 173, 173, 172, 172, 172, 172, 172, 172, 172, 172,
       172, 172, 172, 172, 172, 172, 172, 172, 172, 172, 172, 171, 171,
       171, 171, 171, 171, 171, 171, 171, 171, 171, 171,  73,  73,  30,
        24,  21,   7,   1], dtype=int64)

In [21]:
owid_all.country.value_counts().value_counts()

count
173    169
273     29
172     19
177     15
171     12
231      2
223      2
191      2
73       2
7        1
21       1
24       1
30       1
180      1
238      1
185      1
193      1
194      1
205      1
215      1
1        1
Name: count, dtype: int64

In [45]:
owid_all.country.unique()

array(['Afghanistan', 'Africa', 'Africa (GCP)', 'Albania', 'Algeria',
       'Andorra', 'Angola', 'Anguilla', 'Antarctica',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Asia',
       'Asia (GCP)', 'Asia (excl. China and India)', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda',
       'Bhutan', 'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Central African Republic', 'Central America (GCP)', 'Chad',
       'Chile', 'China', 'Christmas Island', 'Colombia', 'Comoros',
       'Congo', 'Cook Islands', 'Costa Rica', "Cote d'Ivoire", 'Croatia',
       'Cuba', 'Curacao', 'Cyprus', 'Czechia',
       'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'East Timor', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Europe', 'Europe (GCP)',
       'Europe (excl. EU-27)', 'Europe (excl. EU-28)',
       'European Union (27)', 'European Union (28)', 'Faroe Islands',
       'Fiji', 'Finland', 'France',
       'French Equatorial Africa (Jones et al. 2023)', 'French Polynesia',
       'French West Africa (Jones et al. 2023)', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Greece', 'Greenland', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'High-income countries', 'Honduras', 'Hong Kong', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'International aviation',
       'International shipping', 'International transport', 'Iran',
       'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo', 'Kuwait',
       'Kuwaiti Oil Fires (GCP)', 'Kuwaiti Oil Fires (Jones et al. 2023)',
       'Kyrgyzstan', 'Laos', 'Latvia',
       'Least developed countries (Jones et al. 2023)', 'Lebanon',
       'Leeward Islands (GCP)', 'Leeward Islands (Jones et al. 2023)',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Low-income countries', 'Lower-middle-income countries',
       'Luxembourg', 'Macao', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania',
       'Mauritius', 'Mexico', 'Micronesia (country)', 'Middle East (GCP)',
       'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Montserrat',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'Non-OECD (GCP)', 'North America',
       'North America (GCP)', 'North America (excl. USA)', 'North Korea',
       'North Macedonia', 'Norway', 'OECD (GCP)',
       'OECD (Jones et al. 2023)', 'Oceania', 'Oceania (GCP)', 'Oman',
       'Pakistan', 'Palau', 'Palestine', 'Panama',
       'Panama Canal Zone (GCP)', 'Panama Canal Zone (Jones et al. 2023)',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Ryukyu Islands (GCP)', 'Ryukyu Islands (Jones et al. 2023)',
       'Saint Helena', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South America (GCP)', 'South Korea', 'South Sudan', 'Spain',
       'Sri Lanka', 'St. Kitts-Nevis-Anguilla (GCP)',
       'St. Kitts-Nevis-Anguilla (Jones et al. 2023)', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Upper-middle-income countries', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Vatican', 'Venezuela', 'Vietnam', 'Wallis and Futuna',
       'World', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [ ]:
# find which countries have NaN values in which field, make a table
# find and compare the time ranges of measurements for each country
# find if there are monthly measurements
# find how the time ranges differ for each parameter

In [50]:
owid_all.loc[owid_all.country=='World', 'year'].values[0]

1750

In [64]:
#owid_all.country.unique().map(lambda x: owid_all.loc[owid_all.country==x, 'year'].values[0]).values

In [63]:
#owid_all.loc[owid_all.country==x, 'year'].values[0] for x in owid_all.country.unique()

In [62]:
#for x in owid_all.country.unique():
#    print(owid_all.loc[owid_all.country==x, 'year'].values[0], x)

In [73]:
owid_all.groupby('country').iso_code.unique()

country
Afghanistan          [AFG]
Africa               [nan]
Africa (GCP)         [nan]
Albania              [ALB]
Algeria              [DZA]
                     ...
Wallis and Futuna    [WLF]
World                [nan]
Yemen                [YEM]
Zambia               [ZMB]
Zimbabwe             [ZWE]
Name: iso_code, Length: 264, dtype: object

In [75]:
owid_all.groupby('country').year.min().values

array([1850, 1750, 1850, 1850, 1850, 1750, 1850, 1851, 1851, 1850, 1850,
       1830, 1851, 1750, 1850, 1750, 1750, 1807, 1850, 1850, 1850, 1850,
       1850, 1830, 1802, 1850, 1850, 1851, 1750, 1850, 1851, 1850, 1850,
       1850, 1851, 1750, 1850, 1850, 1850, 1850, 1850, 1785, 1850, 1850,
       1850, 1850, 1850, 1850, 1851, 1850, 1850, 1850, 1850, 1850, 1750,
       1850, 1850, 1851, 1850, 1850, 1850, 1843, 1850, 1850, 1850, 1850,
       1850, 1850, 1850, 1850, 1850, 1830, 1850, 1850, 1750, 1850, 1750,
       1750, 1792, 1750, 1851, 1850, 1850, 1802, 1851, 1851, 1851, 1850,
       1850, 1830, 1792, 1850, 1850, 1750, 1850, 1850, 1750, 1850, 1850,
       1850, 1750, 1850, 1851, 1830, 1850, 1850, 1850, 1950, 1950, 1851,
       1850, 1850, 1850, 1850, 1850, 1850, 1850, 1850, 1830, 1850, 1850,
       1851, 1850, 1991, 1851, 1830, 1850, 1830, 1851, 1850, 1950, 1851,
       1850, 1850, 1850, 1850, 1830, 1750, 1750, 1850, 1750, 1850, 1850,
       1850, 1850, 1850, 1850, 1850, 1750, 1850, 1850, 1850, 1850, 1830,
       1850, 1850, 1850, 1851, 1850, 1850, 1850, 1850, 1850, 1850, 1846,
       1851, 1850, 1850, 1850, 1850, 1850, 1850, 1750, 1850, 1750, 1850,
       1850, 1829, 1850, 1851, 1750, 1850, 1850, 1850, 1850, 1850, 1850,
       1950, 1851, 1750, 1850, 1850, 1850, 1800, 1850, 1851, 1850, 1850,
       1830, 1850, 1952, 1851, 1851, 1850, 1850, 1851, 1850, 1850, 1850,
       1850, 1850, 1850, 1850, 1850, 1750, 1750, 1851, 1850, 1850, 1850,
       1850, 1850, 1850, 1850, 1850, 1850, 1830, 1850, 1957, 1851, 1850,
       1850, 1834, 1850, 1850, 1851, 1830, 1850, 1850, 1850, 1850, 1850,
       1850, 1850, 1830, 1851, 1750, 1850, 1830, 1850, 1750, 1800, 1750,
       1850, 1830, 1850, 1850, 1850, 1850, 1851, 1750, 1850, 1850, 1850],
      dtype=int64)

In [78]:
owid_all.groupby('country').iso_code.unique()

country
Afghanistan          [AFG]
Africa               [nan]
Africa (GCP)         [nan]
Albania              [ALB]
Algeria              [DZA]
                     ...
Wallis and Futuna    [WLF]
World                [nan]
Yemen                [YEM]
Zambia               [ZMB]
Zimbabwe             [ZWE]
Name: iso_code, Length: 264, dtype: object

In [87]:
owid_all.groupby('country').apply(np.shape, include_groups=False)      #rows columns, shape of dataframes
#Either pass `include_groups=False` to exclude the groupings or 
#explicitly select the grouping columns after groupby to silence this warning.
#owid_all.groupby('country').apply(np.shape)

country
Afghanistan          (173, 78)
Africa               (273, 78)
Africa (GCP)         (173, 78)
Albania              (173, 78)
Algeria              (173, 78)
                       ...
Wallis and Futuna    (172, 78)
World                (273, 78)
Yemen                (173, 78)
Zambia               (173, 78)
Zimbabwe             (173, 78)
Length: 264, dtype: object

In [95]:
owid_all.groupby('country').apply(lambda df: df.year)

C:\Users\THW\AppData\Local\Temp\ipykernel_14176\3158857490.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  owid_all.groupby('country').apply(lambda df: df.year)

country
Afghanistan  0        1850
             1        1851
             2        1852
             3        1853
             4        1854
                      ...
Zimbabwe     48053    2018
             48054    2019
             48055    2020
             48056    2021
             48057    2022
Name: year, Length: 48058, dtype: int64

In [94]:
owid_all.groupby('country').apply(lambda df: df.iloc[0, 1])

C:\Users\THW\AppData\Local\Temp\ipykernel_14176\2125017818.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  owid_all.groupby('country').apply(lambda df: df.iloc[0, 1])

country
Afghanistan          1850
Africa               1750
Africa (GCP)         1850
Albania              1850
Algeria              1850
                     ...
Wallis and Futuna    1851
World                1750
Yemen                1850
Zambia               1850
Zimbabwe             1850
Length: 264, dtype: int64