In [1]:
import sqlite3
import tkinter as tk
from tkinter import ttk
from tkinter import messagebox
import pandas as pd
from datetime import datetime
from tkcalendar import DateEntry

In [2]:
conn = sqlite3.connect('data.db')
query = "SELECT * FROM results"
df = pd.read_sql_query(query, conn)
# conn.close()

In [3]:
df

,id,nume_proba,seria,analiza,solicitant,aparat,data_intrare,data_eliberare,utilizator,rezultat
0,1,Spirulina 1000 mg,001022024,Proteina,CC,Kjeldhal,2024-03-20,2024-03-29,Mihaela Neagu,Corespunde
1,2,spirulina 500mg,006062024,proteina,CC,Kjeldhal,2024-06-25,2024-06-28,Mihaela Neagu,corespunde
2,3,spirulina 500 mg,111111111,proteina,CC,Khedhal,2024-06-25,2024-06-28,Mihaela Neagu,corespunde
3,4,aaaaaa,1111111,rrrrr,ccc,asafasf,2024-06-26,2024-06-26,asfa,asfasfa
4,5,offfffff,22222222,3,ccccc,asdasdasf,2024-07-03,2024-07-26,asdasafs,nu
5,6,proteina5,22222222222,proteina,CC,Kheldahl,2024-08-06,2024-08-06,MN,corespunde

In [4]:
f = pd.read_csv('formate-scurt.csv')

In [5]:
f.aparat[20]

'UV VIS'

In [6]:
f.columns

Index(['Format', 'registru', 'aparat', 'Nr. crt.', 'Data', 'Produs',
       'Serie/Lot', 'val1', 'val2', 'operator', 'stare', 'obs'],
      dtype='object')

In [7]:
for i in range(23):
    #print(f.loc[i,f.loc[i,:]!='-'].values)
    header = pd.DataFrame(columns = f.loc[i,f.loc[i,:]!='-'].to_list(), index=range(0))
    #print(header)
    #header.to_csv(f'{i}.csv', index=False, header=True)

In [8]:
reg = [pd.read_csv(f'registre/{i}.csv') for i in range(23)]

In [9]:
max([len(reg[i].columns) for i in range(len(reg))])

12

In [10]:
listoflists = [list(reg[i].columns) for i in range(len(reg))]

In [11]:
listoflists[0]

['432.0',
 'Registru operare, verificare, calibrare  şi curăţare al balanței analitice',
 'Balanta Mettler Toledo AB204-S',
 'Nr. crt.',
 'Data',
 'Operaţia/Denumirea probei',
 'Serie/Lot',
 'Masa cântărită, g',
 'Semnătura persoanei care a efectuat operaţia',
 'Observaţii']

In [12]:
['-'] * 3 + ['-']

['-', '-', '-', '-']

In [13]:
lol_full = [listoflists[i] + ['-'] * (12 - len(listoflists[i])) for i in range(len(reg))]

In [14]:
headers_df = pd.DataFrame(lol_full, columns=list('abcdefghijkl'))

In [15]:
#headers_df.to_csv('headers.csv', index=False, header=True)

In [17]:
reg[0].fillna('-')

,432.0,"Registru operare, verificare, calibrare şi curăţare al balanței analitice",Balanta Mettler Toledo AB204-S,Nr. crt.,Data,Operaţia/Denumirea probei,Serie/Lot,"Masa cântărită, g",Semnătura persoanei care a efectuat operaţia,Observaţii
0,-,-,-,1.0,-,-,-,-,-,-
1,-,-,-,2.0,2024-08-19,-,-,3.0,-,rrrrrrr
2,-,-,-,3.0,2024-08-07,ccc,333333.0,333.0,ccccc,cccccc
3,-,-,-,4.0,2024-08-19,dddd,444444.0,4.0,ddddddd,ddddddddd
4,-,-,-,5.0,2024-08-19,eee,555.0,5.0,eee,eee
5,-,-,-,6.0,2024-08-19,ffff,666.0,6.0,fffffffff,fffffff
6,-,-,-,7.0,2024-08-19,ggggg,7777.0,7.0,gggg,ggggggg
7,-,-,-,8.0,2024-08-19,hhhhhh,23524.0,8.0,hhhh,hhh
8,-,-,-,9.0,2024-08-19,iiiiii,33333.0,1.0,iiii,iiiiii
9,-,-,-,10.0,2024-09-05,afafa,33.0,2.0,333,33333
10,-,-,-,11.0,2024-08-19,e,-,0.0,-,-
11,-,-,-,12.0,2024-08-19,ee,-,333.0,-,fff
12,-,-,-,13.0,2024-08-19,jjjj,-,4.0,-,-
13,-,-,-,14.0,2024-08-19,nnn,-,2.0,-,-
14,-,-,-,15.0,2024-08-19,x,-,3.0,-,-
15,-,-,-,16.0,2024-08-20,produs test,serie test,1.0,user test,obs test
16,-,-,-,17.0,2024-08-20,a,b,1.0,d,f
17,-,-,-,18.0,2024-08-20,a,b,1.0,d,f
18,-,-,-,19.0,2024-08-20,-,-,-,-,-
19,-,-,-,20.0,2024-08-21,spirulina BIOMASA,001ys,1.1,theo,nu
20,-,-,-,21.0,2024-08-22,fillna,fillna,-,fillna,fillna