In [1]:
import sqlite3
import tkinter as tk
from tkinter import ttk
from tkinter import messagebox
import pandas as pd
from datetime import datetime
from tkcalendar import DateEntry

In [2]:
conn = sqlite3.connect('data.db')
query = "SELECT * FROM results"
df = pd.read_sql_query(query, conn)
# conn.close()

In [3]:
df

,id,nume_proba,seria,analiza,solicitant,aparat,data_intrare,data_eliberare,utilizator,rezultat
0,1,Spirulina 1000 mg,001022024,Proteina,CC,Kjeldhal,2024-03-20,2024-03-29,Mihaela Neagu,Corespunde
1,2,spirulina 500mg,006062024,proteina,CC,Kjeldhal,2024-06-25,2024-06-28,Mihaela Neagu,corespunde
2,3,spirulina 500 mg,111111111,proteina,CC,Khedhal,2024-06-25,2024-06-28,Mihaela Neagu,corespunde
3,4,aaaaaa,1111111,rrrrr,ccc,asafasf,2024-06-26,2024-06-26,asfa,asfasfa
4,5,offfffff,22222222,3,ccccc,asdasdasf,2024-07-03,2024-07-26,asdasafs,nu
5,6,proteina5,22222222222,proteina,CC,Kheldahl,2024-08-06,2024-08-06,MN,corespunde

In [4]:
f = pd.read_csv('formate-scurt.csv')

In [5]:
f.aparat[20]

'UV VIS'

In [6]:
f.columns

Index(['Format', 'registru', 'aparat', 'Nr. crt.', 'Data', 'Produs',
       'Serie/Lot', 'val1', 'val2', 'operator', 'stare', 'obs'],
      dtype='object')

In [7]:
f.loc[:,'registru':'obs'].head(2)

,registru,aparat,Nr. crt.,Data,Produs,Serie/Lot,val1,val2,operator,stare,obs
0,"Registru operare, verificare, calibrare şi cu...",Balanta Mettler Toledo AB204-S,Nr. crt.,Data,Operaţia/Denumirea probei,Seria/lot,"Masa cântărită, g",-,Semnatura persoanei care a efectuat operaţia,-,Observaţii
1,"Registru operare, verificare, calibrare şi cu...",Balanta Radwag – Partner PS4500 R2,Nr. crt.,Data,Operaţia/Denumirea probei,Seria/lot,"Masa cântărită, g",-,Semnatura persoanei care a efectuat operaţia,-,Observaţii

In [8]:
for i in range(23):
    #print(f.loc[i,f.loc[i,:]!='-'].values)
    header = pd.DataFrame(columns = f.loc[i,f.loc[i,:]!='-'].to_list(), index=range(0))
    #print(header)
    #header.to_csv(f'{i}.csv', index=False, header=True)

In [12]:
len(pd.read_csv('registre/22.csv'))

3