In [1]:
import sqlite3
import tkinter as tk
from tkinter import ttk
from tkinter import messagebox
import pandas as pd
from datetime import datetime
from tkcalendar import DateEntry

In [3]:
conn = sqlite3.connect('data.db')
query = "SELECT * FROM results"
df = pd.read_sql_query(query, conn)
conn.close()

In [4]:
df

,id,nume_proba,seria,analiza,solicitant,aparat,data_intrare,data_eliberare,utilizator,rezultat
0,1,Spirulina 1000 mg,001022024,Proteina,CC,Kjeldhal,2024-03-20,2024-03-29,Mihaela Neagu,Corespunde
1,2,spirulina 500mg,006062024,proteina,CC,Kjeldhal,2024-06-25,2024-06-28,Mihaela Neagu,corespunde
2,3,spirulina 500 mg,111111111,proteina,CC,Khedhal,2024-06-25,2024-06-28,Mihaela Neagu,corespunde
3,4,aaaaaa,1111111,rrrrr,ccc,asafasf,2024-06-26,2024-06-26,asfa,asfasfa
4,5,offfffff,22222222,3,ccccc,asdasdasf,2024-07-03,2024-07-26,asdasafs,nu

In [5]:
df.aparat

0     Kjeldhal
1     Kjeldhal
2      Khedhal
3      asafasf
4    asdasdasf
Name: aparat, dtype: object

In [8]:
df.aparat=='Kjeldhal'

0     True
1     True
2    False
3    False
4    False
Name: aparat, dtype: bool

In [9]:
df[df.aparat=='Kjeldhal']

,id,nume_proba,seria,analiza,solicitant,aparat,data_intrare,data_eliberare,utilizator,rezultat
0,1,Spirulina 1000 mg,001022024,Proteina,CC,Kjeldhal,2024-03-20,2024-03-29,Mihaela Neagu,Corespunde
1,2,spirulina 500mg,006062024,proteina,CC,Kjeldhal,2024-06-25,2024-06-28,Mihaela Neagu,corespunde