In [16]:
import sqlite3
import tkinter as tk
from tkinter import ttk
from tkinter import messagebox
import pandas as pd
from datetime import datetime
from tkcalendar import DateEntry

In [17]:
conn = sqlite3.connect('data.db')
query = "SELECT * FROM results"
df = pd.read_sql_query(query, conn)
# conn.close()

In [18]:
df

,id,nume_proba,seria,analiza,solicitant,aparat,data_intrare,data_eliberare,utilizator,rezultat
0,1,Spirulina 1000 mg,001022024,Proteina,CC,Kjeldhal,2024-03-20,2024-03-29,Mihaela Neagu,Corespunde
1,2,spirulina 500mg,006062024,proteina,CC,Kjeldhal,2024-06-25,2024-06-28,Mihaela Neagu,corespunde
2,3,spirulina 500 mg,111111111,proteina,CC,Khedhal,2024-06-25,2024-06-28,Mihaela Neagu,corespunde
3,4,aaaaaa,1111111,rrrrr,ccc,asafasf,2024-06-26,2024-06-26,asfa,asfasfa
4,5,offfffff,22222222,3,ccccc,asdasdasf,2024-07-03,2024-07-26,asdasafs,nu
5,6,proteina5,22222222222,proteina,CC,Kheldahl,2024-08-06,2024-08-06,MN,corespunde

In [19]:
f = pd.read_csv('formate-scurt.csv')

In [20]:
f.aparat[:20].values

array(['Balanta Mettler Toledo AB204-S',
       'Balanta Radwag – Partner PS4500 R2', 'Balanta VWR 611-2271',
       'Balanta Partner AS 310 R2', 'Balanţa termica VWR MB 160',
       'Cuptor de calcinare Nabertherm',
       'Centrifuga Ortoalesa Digiden 21R', 'Centrifuga Sigma 2-16P',
       'Etuva Memmert UN 110',
       'Sistem de dozare a proteinei Kjeldahl - Buchi',
       'Incubator Biosan ES - 20', 'Liofilizator Cool Safe Model 55-4',
       'PH-metru Consort si Seven Copact S210',
       'Evaporator Rotativ IKA RV 10 Control', 'Aparatul Soxhlet VELP',
       'Vascozimetru Fungilab model Expert R',
       'Extractor cu ultrasunete Steel 500-DG',
       'Echipament determinare activitate apa Novasina',
       'Moara cu cutite Gm 200', 'HPLC'], dtype=object)

In [21]:
for i, j in enumerate(f.aparat[:21].values):
    print(i, j)

0 Balanta Mettler Toledo AB204-S
1 Balanta Radwag – Partner PS4500 R2
2 Balanta VWR 611-2271
3 Balanta Partner AS 310 R2
4 Balanţa termica VWR MB 160
5 Cuptor de calcinare Nabertherm
6 Centrifuga Ortoalesa Digiden 21R
7 Centrifuga Sigma 2-16P
8 Etuva Memmert UN 110
9 Sistem de dozare a proteinei Kjeldahl - Buchi
10 Incubator Biosan ES - 20
11 Liofilizator Cool Safe Model 55-4
12 PH-metru Consort si Seven Copact S210
13 Evaporator Rotativ IKA RV 10 Control
14 Aparatul Soxhlet VELP
15 Vascozimetru Fungilab model Expert R
16 Extractor cu ultrasunete Steel 500-DG
17 Echipament determinare activitate apa Novasina
18 Moara cu cutite Gm 200
19 HPLC
20 UV VIS

In [22]:
#g=pd.DataFrame(columns=['Nr', 'Data_in', 'Data_elib', 'Produs', 'Seria', 'Analiza', 'Solicitant', 'User', 'Status', 'Obs','aparat'])

In [23]:
f.aparat[20]

'UV VIS'

In [25]:
f.columns

Index(['Format', 'registru', 'aparat', 'Nr. crt.', 'Data', 'Produs',
       'Serie/Lot', 'val1', 'val2', 'operator', 'stare', 'obs'],
      dtype='object')

In [29]:
f.loc[:,'registru':'obs'].head(2)

,registru,aparat,Nr. crt.,Data,Produs,Serie/Lot,val1,val2,operator,stare,obs
0,"Registru operare, verificare, calibrare şi cu...",Balanta Mettler Toledo AB204-S,Nr. crt.,Data,Operaţia/Denumirea probei,Seria/lot,"Masa cântărită, g",-,Semnatura persoanei care a efectuat operaţia,-,Observaţii
1,"Registru operare, verificare, calibrare şi cu...",Balanta Radwag – Partner PS4500 R2,Nr. crt.,Data,Operaţia/Denumirea probei,Seria/lot,"Masa cântărită, g",-,Semnatura persoanei care a efectuat operaţia,-,Observaţii

In [128]:
for i in range(23):
    #print(f.loc[i,f.loc[i,:]!='-'].values)
    header = pd.DataFrame(columns = f.loc[i,f.loc[i,:]!='-'].to_list(), index=range(0))
    #print(header)
    header.to_csv(f'{i}.csv', index=False, header=True)

In [130]:
import os
print(os.getcwd())

C:\Users\THW\Desktop\pycproj\STATS\db

In [131]:
pd.read_csv('registre/1.csv')

Empty DataFrame
Columns: [432.0, Registru operare, verificare, calibrare  şi curăţare al balanței analitice, Balanta Radwag – Partner PS4500 R2, Nr. crt., Data, Operaţia/Denumirea probei, Seria/lot, Masa cântărită, g, Semnatura persoanei care a efectuat operaţia, Observaţii]
Index: []